ul {
    list-style: none;
}

/* NAVBAR */
.mobile_logo {
    aspect-ratio: 1 / 1;
    width: 38px;
}

.navbar .input-group input {
    padding-left: 0px;
}

.navbar .input-group input::placeholder {
    font-size: 0.8em;
}


/* MAIN */
main {
    height: calc(100vh - 70px);
}

/****** sidebar ******/
.sidebar {
    background-color: #051E34;
    background-image: url(/img/sidebar-bg.png);
}

.sidebar ul li {
    padding-bottom: 15px;
    padding-left: 10px;
}

/****** content ******/
.content {
    overflow-y: auto;
}

/* content media query */
@media screen and (min-width: 769px) {
    .md_w_50{
        width: 50%;
    }

    .offcanvas {
        width: 50% !important;
    }
}

@media screen and (max-width: 768px) {
    .xs_w_25 {
        width: 25%;
    }

    .offcanvas {
        width: 100% !important;
    }
}